<a href="https://colab.research.google.com/github/thrivenid88/Image-Processing/blob/main/missingdata_26_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**calculation with missing data**

In [1]:
import pandas as pd
import numpy as np
array=np.array([3,np.nan,0,4,np.nan])
print(array)

[ 3. nan  0.  4. nan]

**cleaning missing data**

In [55]:
import numpy as np
import pandas as pd
data_string='''Id,Gender,Salary,Country,Company
1,Male,1500,India,Google
2,Female,45000,china,NaN
3,Female,25000,India,Google
4,NaN,NaN,NaN,infosys
5,Male,32000,Japan,Google
6,Female,42000,Africa,Microsoft
7,Male,40000,syngapore,NaN
8,NaN,NaN,Russia,NaN'''
with open('salary.csv','w')as out:
  out.write(data_string)

**import the dataset**

In [56]:
df=pd.read_csv('/content/salary.csv')
print('Salary Dataset:\n',df)

Salary Dataset:
    Id  Gender   Salary    Country    Company
0   1    Male   1500.0      India     Google
1   2  Female  45000.0      china        NaN
2   3  Female  25000.0      India     Google
3   4     NaN      NaN        NaN    infosys
4   5    Male  32000.0      Japan     Google
5   6  Female  42000.0     Africa  Microsoft
6   7    Male  40000.0  syngapore        NaN
7   8     NaN      NaN     Russia        NaN

**check for missing data**

In [57]:
print("Missing Data\n",df.isna())
print('Missing Data\n',df.isnull())

Missing Data
       Id  Gender  Salary  Country  Company
0  False   False   False    False    False
1  False   False   False    False     True
2  False   False   False    False    False
3  False    True    True     True    False
4  False   False   False    False    False
5  False   False   False    False    False
6  False   False   False    False     True
7  False    True    True    False     True
Missing Data
       Id  Gender  Salary  Country  Company
0  False   False   False    False    False
1  False   False   False    False     True
2  False   False   False    False    False
3  False    True    True     True    False
4  False   False   False    False    False
5  False   False   False    False    False
6  False   False   False    False     True
7  False    True    True    False     True

**print only missing data**

In [58]:
print('Filter based on column:\n',df[df.isnull().any(axis=1)])

Filter based on column:
    Id  Gender   Salary    Country  Company
1   2  Female  45000.0      china      NaN
3   4     NaN      NaN        NaN  infosys
6   7    Male  40000.0  syngapore      NaN
7   8     NaN      NaN     Russia      NaN

**sumup missing values**

In [59]:
print('sum up the missing values:\n',df.isnull().sum())

sum up the missing values:
 Id         0
Gender     2
Salary     2
Country    1
Company    3
dtype: int64

**Dropping missing data**

In [60]:
df.dropna(inplace=True)
print(df)

   Id  Gender   Salary Country    Company
0   1    Male   1500.0   India     Google
2   3  Female  25000.0   India     Google
4   5    Male  32000.0   Japan     Google
5   6  Female  42000.0  Africa  Microsoft

**Replacing missing data**

In [62]:
df["Salary"].fillna(25000,inplace=True)
print(df)

   Id  Gender   Salary Country    Company
0   1    Male   1500.0   India     Google
2   3  Female  25000.0   India     Google
4   5    Male  32000.0   Japan     Google
5   6  Female  42000.0  Africa  Microsoft

**Import functions for handling missing data in pandas**

**import the libraries**

In [46]:
import numpy as np
import pandas as pd
data_string='''Id,Gender,Salary,Country,Company
1,Male,1500,India,Google
2,Female,45000,china,NaN
3,Female,25000,India,Google
4,NaN,NaN,NaN,infosys
5,Male,32000,Japan,Google
6,Female,42000,Africa,Microsoft
7,Male,40000,syngapore,NaN
8,NaN,NaN,Russia,NaN'''
with open('salary.csv','w') as out:
  out.write(data_string)
df=pd.read_csv('/content/salary.csv')

In [45]:
print('fill missing data\n',df.fillna(method='pad'))

fill missing data
    Id  Gender   Salary    Country    Company
0   1    Male   1500.0      India     Google
1   2  Female  45000.0      china     Google
2   3  Female  25000.0      India     Google
3   4  Female  25000.0      India    infosys
4   5    Male  32000.0      Japan     Google
5   6  Female  42000.0     Africa  Microsoft
6   7    Male  40000.0  syngapore  Microsoft
7   8    Male  40000.0     Russia  Microsoft

In [47]:
print('Missing data\n',df.isnull())

Missing data
       Id  Gender  Salary  Country  Company
0  False   False   False    False    False
1  False   False   False    False     True
2  False   False   False    False    False
3  False    True    True     True    False
4  False   False   False    False    False
5  False   False   False    False    False
6  False   False   False    False     True
7  False    True    True    False     True

In [48]:
print('fill missing data\n',df.fillna(method='bfill'))

fill missing data
    Id  Gender   Salary    Country    Company
0   1    Male   1500.0      India     Google
1   2  Female  45000.0      china     Google
2   3  Female  25000.0      India     Google
3   4    Male  32000.0      Japan    infosys
4   5    Male  32000.0      Japan     Google
5   6  Female  42000.0     Africa  Microsoft
6   7    Male  40000.0  syngapore        NaN
7   8     NaN      NaN     Russia        NaN

In [52]:
print('Fill missing data\n',df["Gender"].fillna("no gender",inplace=True))
print(df)

Fill missing data
 None
   Id     Gender   Salary    Country    Company
0   1       Male   1500.0      India     Google
1   2     Female  45000.0      china        NaN
2   3     Female  25000.0      India     Google
3   4  no gender      NaN        NaN    infosys
4   5       Male  32000.0      Japan     Google
5   6     Female  42000.0     Africa  Microsoft
6   7       Male  40000.0  syngapore        NaN
7   8  no gender      NaN     Russia        NaN

In [53]:
print(df.replace(to_replace='Google',value='Microsoft'))

   Id     Gender   Salary    Country    Company
0   1       Male   1500.0      India  Microsoft
1   2     Female  45000.0      china        NaN
2   3     Female  25000.0      India  Microsoft
3   4  no gender      NaN        NaN    infosys
4   5       Male  32000.0      Japan  Microsoft
5   6     Female  42000.0     Africa  Microsoft
6   7       Male  40000.0  syngapore        NaN
7   8  no gender      NaN     Russia        NaN

In [54]:
print(df.interpolate(method='linear',limit_direction='forward'))

   Id     Gender   Salary    Country    Company
0   1       Male   1500.0      India     Google
1   2     Female  45000.0      china        NaN
2   3     Female  25000.0      India     Google
3   4  no gender  28500.0        NaN    infosys
4   5       Male  32000.0      Japan     Google
5   6     Female  42000.0     Africa  Microsoft
6   7       Male  40000.0  syngapore        NaN
7   8  no gender  40000.0     Russia        NaN

**Salaryyyyyyyyyyyy***/extraaa

In [64]:
import numpy as np
import pandas as pd
data_string='''Id,Gender,Salary,Country,Company
1,Male,1500,India,Google
2,Female,45000,china,NaN
3,Female,25000,India,Google
4,NaN,NaN,NaN,infosys
5,Male,32000,Japan,Google
6,Female,42000,Africa,Microsoft
7,Male,40000,syngapore,NaN
8,NaN,NaN,Russia,NaN'''
with open('salary1.csv','w')as out:
  out.write(data_string)

In [66]:
df1=pd.read_csv('/content/salary1.csv')
print('Salary Dataset:\n',df1)

Salary Dataset:
    Id  Gender   Salary    Country    Company
0   1    Male   1500.0      India     Google
1   2  Female  45000.0      china        NaN
2   3  Female  25000.0      India     Google
3   4     NaN      NaN        NaN    infosys
4   5    Male  32000.0      Japan     Google
5   6  Female  42000.0     Africa  Microsoft
6   7    Male  40000.0  syngapore        NaN
7   8     NaN      NaN     Russia        NaN

In [67]:
df1["Salary"].fillna(25000,inplace=True)
print(df1)

   Id  Gender   Salary    Country    Company
0   1    Male   1500.0      India     Google
1   2  Female  45000.0      china        NaN
2   3  Female  25000.0      India     Google
3   4     NaN  25000.0        NaN    infosys
4   5    Male  32000.0      Japan     Google
5   6  Female  42000.0     Africa  Microsoft
6   7    Male  40000.0  syngapore        NaN
7   8     NaN  25000.0     Russia        NaN